/*
* @Author: Administrator
* @Date:   2017-09-04 20:43:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-05 15:32:46
*/
*{
	margin: 0;   /* 清除 body 身上的8px */
	text-decoration: none; 
	padding: 0; 
	box-sizing:border-box;/*  清除A的下划线 */
}
img{
	width: 100%;
	height: 100%;
}
